## Read data from Excel or csv files

import pandas for reading data and data manipulation

### Read data from `CAPM.csv`

In [1]:
import pandas as pd

In [2]:
CAPM = pd.read_csv('CAPM.csv')

CAPM.head()

   mobil  market   rkfree
0 -0.046  -0.045  0.00487
1 -0.017   0.010  0.00494
2  0.049   0.050  0.00526
3  0.077   0.063  0.00491
4 -0.011   0.067  0.00513

### Add dates in pd.DataFrame

- Original data has no date column, so we add `Dates` for the last business day of the month (`'BM'`) from January 1978 to December 1987, for our 120 observations
- We also set 'Dates' as an index
- Please note that this step is unnecessary if we don't need to deal with dates.

In [3]:
Dates = pd.date_range(start='1978-1-1', end='1987-12-31', freq='BM')

In [4]:
type(Dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [5]:
CAPM['Dates'] = Dates
CAPM.set_index('Dates', inplace=True)

In [6]:
CAPM.head()

            mobil  market   rkfree
Dates
1978-01-31 -0.046  -0.045  0.00487
1978-02-28 -0.017   0.010  0.00494
1978-03-31  0.049   0.050  0.00526
1978-04-28  0.077   0.063  0.00491
1978-05-31 -0.011   0.067  0.00513

### Simple calculation with variables in the pd.DataFrame

In [7]:
CAPM['rirf'] = CAPM.mobil-CAPM.rkfree
CAPM['rmrf'] = CAPM.market-CAPM.rkfree

In [8]:
CAPM.head()

            mobil  market   rkfree     rirf     rmrf
Dates
1978-01-31 -0.046  -0.045  0.00487 -0.05087 -0.04987
1978-02-28 -0.017   0.010  0.00494 -0.02194  0.00506
1978-03-31  0.049   0.050  0.00526  0.04374  0.04474
1978-04-28  0.077   0.063  0.00491  0.07209  0.05809
1978-05-31 -0.011   0.067  0.00513 -0.01613  0.06187

### Summary Statistics

- Use `set_option` to define the precision of data
- Use `.describe()` to get the summary statistics table

In [9]:
pd.set_option('precision', 7)

In [10]:
CAPM.describe()

             mobil       market       rkfree         rirf         rmrf
count  120.0000000  120.0000000  120.0000000  120.0000000  120.0000000
mean     0.0161917    0.0139917    0.0068386    0.0093531    0.0071531
std      0.0803075    0.0683532    0.0021869    0.0804684    0.0686057
min     -0.1780000   -0.2600000    0.0020700   -0.1878100   -0.2635800
25%     -0.0322500   -0.0132500    0.0052225   -0.0399050   -0.0202200
50%      0.0125000    0.0120000    0.0066000    0.0059100    0.0062100
75%      0.0567500    0.0622500    0.0077625    0.0499600    0.0541250
max      0.3660000    0.1480000    0.0125500    0.3552700    0.1434600

### Change the scale of the whole dataset

In [11]:
CAPM1=CAPM*100

In [12]:
CAPM1.head()

            mobil  market  rkfree   rirf   rmrf
Dates
1978-01-31   -4.6    -4.5   0.487 -5.087 -4.987
1978-02-28   -1.7     1.0   0.494 -2.194  0.506
1978-03-31    4.9     5.0   0.526  4.374  4.474
1978-04-28    7.7     6.3   0.491  7.209  5.809
1978-05-31   -1.1     6.7   0.513 -1.613  6.187