In [1]:
import pandas as pd
import numpy as np

In [2]:
stkdata = pd.read_sas('stkdata.sas7bdat', index='DATE', format='sas7bdat', encoding='utf-8')

stkdata.head()

           TICKER       RET
DATE
2010-01-29   AAPL -0.088591
2010-02-26   AAPL  0.065380
2010-03-31   AAPL  0.148470
2010-04-30   AAPL  0.111021
2010-05-28   AAPL -0.016125

In [3]:
stkdata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6000 entries, 2010-01-29 to 2019-12-31
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TICKER  6000 non-null   object
 1   RET     6000 non-null   float64
dtypes: float64(1), object(1)
memory usage: 140.6+ KB

In [4]:
mktdata = pd.read_sas('mktdata.sas7bdat', format='sas7bdat', encoding='utf-8')

In [5]:
mktdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    120 non-null    datetime64[ns]
 1   SMB     120 non-null    float64
 2   HML     120 non-null    float64
 3   MKTRF   120 non-null    float64
 4   RF      120 non-null    float64
 5   UMD     120 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 5.8 KB

In [6]:
mktdata.head()

        DATE     SMB     HML   MKTRF      RF     UMD
0 2010-01-29  0.0038  0.0030 -0.0336  0.0000 -0.0538
1 2010-02-26  0.0121  0.0316  0.0340  0.0000  0.0360
2 2010-03-31  0.0143  0.0211  0.0631  0.0001  0.0366
3 2010-04-30  0.0497  0.0281  0.0200  0.0001  0.0322
4 2010-05-28  0.0005 -0.0238 -0.0789  0.0001 -0.0013

In [7]:
data = pd.merge(stkdata, mktdata, on='DATE')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6000 entries, 0 to 5999
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    6000 non-null   datetime64[ns]
 1   TICKER  6000 non-null   object
 2   RET     6000 non-null   float64
 3   SMB     6000 non-null   float64
 4   HML     6000 non-null   float64
 5   MKTRF   6000 non-null   float64
 6   RF      6000 non-null   float64
 7   UMD     6000 non-null   float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 421.9+ KB

In [9]:
data.head()

        DATE TICKER       RET     SMB    HML   MKTRF   RF     UMD
0 2010-01-29   AAPL -0.088591  0.0038  0.003 -0.0336  0.0 -0.0538
1 2010-01-29    ABT -0.012039  0.0038  0.003 -0.0336  0.0 -0.0538
2 2010-01-29   AMGN  0.033763  0.0038  0.003 -0.0336  0.0 -0.0538
3 2010-01-29   AMZN -0.067722  0.0038  0.003 -0.0336  0.0 -0.0538
4 2010-01-29    AXP -0.066140  0.0038  0.003 -0.0336  0.0 -0.0538

In [10]:
data['RETRF'] = data['RET'] - data['RF']

data = data.sort_values(['TICKER','DATE'])

In [11]:
print(data)

           DATE TICKER       RET     SMB     HML   MKTRF      RF     UMD  \
0    2010-01-29   AAPL -0.088591  0.0038  0.0030 -0.0336  0.0000 -0.0538
50   2010-02-26   AAPL  0.065380  0.0121  0.0316  0.0340  0.0000  0.0360
100  2010-03-31   AAPL  0.148470  0.0143  0.0211  0.0631  0.0001  0.0366
150  2010-04-30   AAPL  0.111021  0.0497  0.0281  0.0200  0.0001  0.0322
200  2010-05-28   AAPL -0.016125  0.0005 -0.0238 -0.0789  0.0001 -0.0013
...         ...    ...       ...     ...     ...     ...     ...     ...
5799 2019-08-30    XOM -0.067375 -0.0241 -0.0499 -0.0258  0.0016  0.0760
5849 2019-09-30    XOM  0.031104 -0.0090  0.0671  0.0144  0.0018 -0.0685
5899 2019-10-31    XOM -0.043053  0.0025 -0.0207  0.0206  0.0015  0.0024
5949 2019-11-29    XOM  0.021163  0.0087 -0.0186  0.0387  0.0012 -0.0262
5999 2019-12-31    XOM  0.024218  0.0068  0.0183  0.0277  0.0014 -0.0213

         RETRF
0    -0.088591
50    0.065380
100   0.148370
150   0.110921
200  -0.016225
...        ...
5799 -0.068975
5849  0.029304
5899 -0.044553
5949  0.019963
5999  0.022818

[6000 rows x 9 columns]

### Note:

We don't have missing observations in this case, so the default merge is good. Even if we have missing observations, we will skip them automatically when running regressions anyway.

### Set multi-index to the dataframe:

`df.set_index(['index1', 'index2'])`

In [12]:
data1 = data.set_index(['TICKER','DATE'])
data1 = data1.sort_index()

print(data1)

                        RET     SMB     HML   MKTRF      RF     UMD     RETRF
TICKER DATE
AAPL   2010-01-29 -0.088591  0.0038  0.0030 -0.0336  0.0000 -0.0538 -0.088591
       2010-02-26  0.065380  0.0121  0.0316  0.0340  0.0000  0.0360  0.065380
       2010-03-31  0.148470  0.0143  0.0211  0.0631  0.0001  0.0366  0.148370
       2010-04-30  0.111021  0.0497  0.0281  0.0200  0.0001  0.0322  0.110921
       2010-05-28 -0.016125  0.0005 -0.0238 -0.0789  0.0001 -0.0013 -0.016225
...                     ...     ...     ...     ...     ...     ...       ...
XOM    2019-08-30 -0.067375 -0.0241 -0.0499 -0.0258  0.0016  0.0760 -0.068975
       2019-09-30  0.031104 -0.0090  0.0671  0.0144  0.0018 -0.0685  0.029304
       2019-10-31 -0.043053  0.0025 -0.0207  0.0206  0.0015  0.0024 -0.044553
       2019-11-29  0.021163  0.0087 -0.0186  0.0387  0.0012 -0.0262  0.019963
       2019-12-31  0.024218  0.0068  0.0183  0.0277  0.0014 -0.0213  0.022818

[6000 rows x 7 columns]

### Change the sequence of the multi-index:

`df.swaplevel('key2', 'key1')`

In [13]:
data2 = data1.swaplevel('TICKER','DATE')
data2 = data2.sort_index()

print(data2)

                        RET     SMB     HML   MKTRF      RF     UMD     RETRF
DATE       TICKER
2010-01-29 AAPL   -0.088591  0.0038  0.0030 -0.0336  0.0000 -0.0538 -0.088591
           ABT    -0.012039  0.0038  0.0030 -0.0336  0.0000 -0.0538 -0.012039
           AMGN    0.033763  0.0038  0.0030 -0.0336  0.0000 -0.0538  0.033763
           AMZN   -0.067722  0.0038  0.0030 -0.0336  0.0000 -0.0538 -0.067722
           AXP    -0.066140  0.0038  0.0030 -0.0336  0.0000 -0.0538 -0.066140
...                     ...     ...     ...     ...     ...     ...       ...
2019-12-31 V       0.018373  0.0068  0.0183  0.0277  0.0014 -0.0213  0.016973
           VZ      0.019256  0.0068  0.0183  0.0277  0.0014 -0.0213  0.017856
           WFC    -0.012119  0.0068  0.0183  0.0277  0.0014 -0.0213 -0.013519
           WMT     0.002351  0.0068  0.0183  0.0277  0.0014 -0.0213  0.000951
           XOM     0.024218  0.0068  0.0183  0.0277  0.0014 -0.0213  0.022818

[6000 rows x 7 columns]

### Reset the multi-index to single index or none:

`df.reset_index('key1')` gets rid of `'key1'` as an index

In [14]:
data3 = data2.reset_index('TICKER')

print(data3)

           TICKER       RET     SMB     HML   MKTRF      RF     UMD     RETRF
DATE
2010-01-29   AAPL -0.088591  0.0038  0.0030 -0.0336  0.0000 -0.0538 -0.088591
2010-01-29    ABT -0.012039  0.0038  0.0030 -0.0336  0.0000 -0.0538 -0.012039
2010-01-29   AMGN  0.033763  0.0038  0.0030 -0.0336  0.0000 -0.0538  0.033763
2010-01-29   AMZN -0.067722  0.0038  0.0030 -0.0336  0.0000 -0.0538 -0.067722
2010-01-29    AXP -0.066140  0.0038  0.0030 -0.0336  0.0000 -0.0538 -0.066140
...           ...       ...     ...     ...     ...     ...     ...       ...
2019-12-31      V  0.018373  0.0068  0.0183  0.0277  0.0014 -0.0213  0.016973
2019-12-31     VZ  0.019256  0.0068  0.0183  0.0277  0.0014 -0.0213  0.017856
2019-12-31    WFC -0.012119  0.0068  0.0183  0.0277  0.0014 -0.0213 -0.013519
2019-12-31    WMT  0.002351  0.0068  0.0183  0.0277  0.0014 -0.0213  0.000951
2019-12-31    XOM  0.024218  0.0068  0.0183  0.0277  0.0014 -0.0213  0.022818

[6000 rows x 8 columns]

In [15]:
data4 = data2.reset_index('DATE')
data4 = data4.sort_index()

print(data4)

             DATE       RET     SMB     HML   MKTRF      RF     UMD     RETRF
TICKER
AAPL   2010-01-29 -0.088591  0.0038  0.0030 -0.0336  0.0000 -0.0538 -0.088591
AAPL   2014-12-31 -0.071891  0.0255  0.0206 -0.0006  0.0000  0.0109 -0.071891
AAPL   2014-11-28  0.105556 -0.0209 -0.0300  0.0255  0.0000  0.0106  0.105556
AAPL   2017-02-28  0.133581 -0.0202 -0.0179  0.0357  0.0004 -0.0165  0.133181
AAPL   2019-05-31 -0.123735 -0.0120 -0.0239 -0.0694  0.0021  0.0761 -0.125835
...           ...       ...     ...     ...     ...     ...     ...       ...
XOM    2016-12-30  0.033906  0.0010  0.0358  0.0182  0.0003 -0.0042  0.033606
XOM    2017-01-31 -0.070574 -0.0104 -0.0278  0.0194  0.0004 -0.0094 -0.070974
XOM    2017-02-28 -0.021695 -0.0202 -0.0179  0.0357  0.0004 -0.0165 -0.022095
XOM    2016-02-29  0.038921  0.0079 -0.0050 -0.0007  0.0002 -0.0411  0.038721
XOM    2019-12-31  0.024218  0.0068  0.0183  0.0277  0.0014 -0.0213  0.022818

[6000 rows x 8 columns]

In [16]:
AAPL = data1.loc['AAPL']

print(AAPL)

                 RET     SMB     HML   MKTRF      RF     UMD     RETRF
DATE
2010-01-29 -0.088591  0.0038  0.0030 -0.0336  0.0000 -0.0538 -0.088591
2010-02-26  0.065380  0.0121  0.0316  0.0340  0.0000  0.0360  0.065380
2010-03-31  0.148470  0.0143  0.0211  0.0631  0.0001  0.0366  0.148370
2010-04-30  0.111021  0.0497  0.0281  0.0200  0.0001  0.0322  0.110921
2010-05-28 -0.016125  0.0005 -0.0238 -0.0789  0.0001 -0.0013 -0.016225
...              ...     ...     ...     ...     ...     ...       ...
2019-08-30 -0.016570 -0.0241 -0.0499 -0.0258  0.0016  0.0760 -0.018170
2019-09-30  0.072962 -0.0090  0.0671  0.0144  0.0018 -0.0685  0.071162
2019-10-31  0.110684  0.0025 -0.0207  0.0206  0.0015  0.0024  0.109184
2019-11-29  0.077424  0.0087 -0.0186  0.0387  0.0012 -0.0262  0.076224
2019-12-31  0.098784  0.0068  0.0183  0.0277  0.0014 -0.0213  0.097384

[120 rows x 7 columns]

In [17]:
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
from statsmodels.sandbox.regression.predstd import wls_prediction_std

In [18]:
y = np.array(AAPL['RETRF'])
X = sm.add_constant(np.array(AAPL[['MKTRF']]))
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.248
Method:                 Least Squares   F-statistic:                     40.27
Date:                Mon, 07 Sep 2020   Prob (F-statistic):           4.25e-09
Time:                        15:27:16   Log-Likelihood:                 159.11
No. Observations:                 120   AIC:                            -314.2
Df Residuals:                     118   BIC:                            -308.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0117      0.006      1.891      0.061      -0.001       0.024
x1             1.0068      0.159      6.346      0.000       0.693       1.321
==============================================================================
Omnibus:                        7.990   Durbin-Watson:                   1.891
Prob(Omnibus):                  0.018   Jarque-Bera (JB):                9.258
Skew:                          -0.414   Prob(JB):                      0.00977
Kurtosis:                       4.080   Cond. No.                         26.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [19]:
y = AAPL['RETRF']
X = sm.add_constant(AAPL[['MKTRF']])

model = sm.OLS(y,X)
results = model.fit()

print(type(results.params))
print(type(results.tvalues))
print(results.params)
print(results.tvalues)
print(results.summary())

print(results.predict(X[:5]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
const    0.011655
MKTRF    1.006823
dtype: float64
const    1.890881
MKTRF    6.345986
dtype: float64
                            OLS Regression Results
==============================================================================
Dep. Variable:                  RETRF   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.248
Method:                 Least Squares   F-statistic:                     40.27
Date:                Mon, 07 Sep 2020   Prob (F-statistic):           4.25e-09
Time:                        15:27:16   Log-Likelihood:                 159.11
No. Observations:                 120   AIC:                            -314.2
Df Residuals:                     118   BIC:                            -308.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0117      0.006      1.891      0.061      -0.001       0.024
MKTRF          1.0068      0.159      6.346      0.000       0.693       1.321
==============================================================================
Omnibus:                        7.990   Durbin-Watson:                   1.891
Prob(Omnibus):                  0.018   Jarque-Bera (JB):                9.258
Skew:                          -0.414   Prob(JB):                      0.00977
Kurtosis:                       4.080   Cond. No.                         26.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
DATE
2010-01-29   -0.022174
2010-02-26    0.045887
2010-03-31    0.075185
2010-04-30    0.031791
2010-05-28   -0.067783
dtype: float64

### Note:

`sm.OLS(y,X)` can take either `np.array` or `pd.DataFrame`. The latter will have the correct variable name shown in the `results.summary()`. 

When we make predictions, we put X in `results.predict()`.

In [20]:
import statsmodels.formula.api as smf

In [21]:
results1 = smf.ols('RETRF ~ MKTRF', data=AAPL).fit()


print(type(results1.params))
print(type(results1.tvalues))
print(results1.params)
print(results1.tvalues)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
Intercept    0.011655
MKTRF        1.006823
dtype: float64
Intercept    1.890881
MKTRF        6.345986
dtype: float64

In [22]:
print(results1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  RETRF   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.248
Method:                 Least Squares   F-statistic:                     40.27
Date:                Mon, 07 Sep 2020   Prob (F-statistic):           4.25e-09
Time:                        15:27:17   Log-Likelihood:                 159.11
No. Observations:                 120   AIC:                            -314.2
Df Residuals:                     118   BIC:                            -308.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0117      0.006      1.891      0.061      -0.001       0.024
MKTRF          1.0068      0.159      6.346      0.000       0.693       1.321
==============================================================================
Omnibus:                        7.990   Durbin-Watson:                   1.891
Prob(Omnibus):                  0.018   Jarque-Bera (JB):                9.258
Skew:                          -0.414   Prob(JB):                      0.00977
Kurtosis:                       4.080   Cond. No.                         26.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Note:

We don't need to use `sm.add_constant()` to add a constant term with `smf`.

In [23]:
print(results1.predict(AAPL[:5]))

DATE
2010-01-29   -0.022174
2010-02-26    0.045887
2010-03-31    0.075185
2010-04-30    0.031791
2010-05-28   -0.067783
dtype: float64

### Run regression for each firm at once

In [24]:
# define an OLS function to run regression for each firm and collect params/stdev
def run_ols(x, y):
    X = sm.add_constant(x)
    model = sm.OLS(y, X)
    result = model.fit()
    params = pd.DataFrame(result.params).T  # result.params is a sequence, you have to convert it to DataFrame to transpose it.
    params.columns = ['alpha', 'beta']
    stderr = pd.DataFrame(result.bse).T
    stdeff.columns = ['alpha_std', 'beta_std']
    counts = pd.DataFrame([len(X)])
    counts.columns = ['counts']
    return params.join(stderr).join(counts)

In [25]:
# select the time frame which we are going to run regression
temp = data[(data.DATE > '2010-1-1') & (data.DATE <= '2014-12-31')]

# group Sample by "TICKER" column, and apply "run_regression" function to each group
reg_result = temp.groupby('TICKER').apply(lambda x: run_ols(x.MKTRF, x.RETRF))

# show first few rows of regression result
print(reg_result.head())

             alpha      beta   alpha_t    beta_t  counts
TICKER
AAPL   0  0.014291  0.857604  1.581862  3.879279      60
ABT    0  0.005139  0.573232  1.044162  4.759716      60
AMGN   0  0.013589  0.483661  1.985770  2.888355      60
AMZN   0  0.003319  1.063048  0.352628  4.615701      60
AXP    0  0.002881  1.066500  0.546880  8.272238      60

In [26]:
reg_result = reg_result.reset_index(1)
print(reg_result.head())

reg_result = reg_result.drop(['level_1'], axis=1)
print(reg_result.head())