### Read data into DataFrame

In [1]:
import pandas as pd

food = pd.read_sas('food.sas7bdat')

In [2]:
food.head()

   food_exp  income
0    115.22    3.69
1    135.98    4.39
2    119.34    4.75
3    114.96    6.03
4    187.05   12.47

In [3]:
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt

In [4]:
mdl_food = smf.ols('food_exp~income', data=food).fit()

In [5]:
print(mdl_food.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               food_exp   R-squared:                       0.385
Model:                            OLS   Adj. R-squared:                  0.369
Method:                 Least Squares   F-statistic:                     23.79
Date:                Mon, 15 Feb 2021   Prob (F-statistic):           1.95e-05
Time:                        17:35:51   Log-Likelihood:                -235.51
No. Observations:                  40   AIC:                             475.0
Df Residuals:                      38   BIC:                             478.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     83.4160     43.410      1.922      0.062      -4.463     171.295
income        10.2096      2.093      4.877      0.000       5.972      14.447
==============================================================================
Omnibus:                        0.277   Durbin-Watson:                   1.894
Prob(Omnibus):                  0.870   Jarque-Bera (JB):                0.063
Skew:                          -0.097   Prob(JB):                        0.969
Kurtosis:                       2.989   Cond. No.                         63.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.